<form action="" onsubmit="onSave(event)">
    <input
        type="text"
        name="id"
        class="is-hidden"
        value="{{ movement.id if movement.id }}"
    />

    <div class="field">
        <label class="label">Descripción</label>
        <div class="control">
            <input
                name="description"
                class="input"
                type="text"
                placeholder="Gastos tarjeta ..."
            />
        </div>
    </div>

    <div class="field">
        <label class="label">Fecha</label>
        <div class="control">
            <input
                name="date"
                class="input"
                type="date"
                placeholder=""
                value="{{ movement.date | formatDate if movement.date }}"
                required
            />
        </div>
    </div>

    <div class="field">
        <label class="label">Categoría</label>
        <div class="control">
            <input
                name="category"
                class="input"
                type="text"
                placeholder="Comestibles .."
                value="{{ movement.category if movement.category }}"
                required
            />
        </div>
    </div>

    <div class="field">
        <label class="label">Monto</label>

        <div class="control">
            <input
                name="amount"
                class="input"
                type="number"
                placeholder="$200,50"
                min="1"
                step="0.01"
                value="{{ movement.amount if movement.amount }}"
                required
            />
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button
                class="button is-primary"
                type="submit"
            >
                Guardar
            </button>
        </div>

        <div class="control">
            <button class="button is-inverted" onclick="onCancel(event)">
                Limpiar
            </button>
        </div>

        {% if movement.id %}
        <div class="control is-flex-grow-1 is-flex is-justify-content-flex-end">
            <button class="button is-danger" onclick="onRemove(event)">
                Eliminar
            </button>
        </div>
        {% endif %}
    </div>
</form>
